// Colors
$dark-blue: #003049;
$dark-blue-font: #001d2c;
$ocean-blue: #669BBC;
$white: #ffffff;
$light-gray: #BEBEBE;
$dark-gray-font: #8d8d8d;

// Font sizes
$font-size-para: 1.1rem;
$font-size-heading-one: 3rem;